@import "bourbon";

$default-font: "roboto", sans-serif;
$accent: #cc9933;
$darkaccent: #996633;
$lightaccent: #f7ba40;
$red: #cc0000;
$darkred: #990000;

$medgrey: #666;
$darkgrey: #333;
$lightgrey: #999;
$white: #fff;
$whitegrey: #ccc;
$black: #000;
